<%- include("partials/header"); -%>
<% users.sort((a, b) => b.points - a.points); %>
<center>
    <h1>Leader board</h1>
</center>

<div class="leaderboard">
    
    

    
    <% users.forEach((user, index) => { %>
      <p><%= index + 1 %>. <%= user.username %> - <%= user.points %> points</p>
    <% }); %>

</div>


    <%- include("partials/footer") -%>